/*---------*\
	PLANO
\*---------*/
.plano{
	position: relative; /*devido o absolute do .plano--mais-popular*/
	padding: 10px;
	border: 1px solid #94a4a5;
	font-size: 1.4rem; /*14/16=0.875=0.875rem*/
}

.plano--mais-popular::after {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #c20303;
	color: #fff;
	content: "MAIS POPULAR";
	font-size: 0.7142em; /*10/14*/
	line-height: 2.5;
	padding: 0 10px;

}

.plano__cabecalho{
	background-color: #94a4a5;
	color: #fff;
	text-align: center;
	line-height: 2.5;
	margin: 0px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 2em; /*2x a fonte do pai 14px*/
}

.plano__preco{
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
}

.plano__caracteristicas {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.plano__caracteristicas > li{
	text-align: center;
}

.plano__rodape{
	text-align: center;
}
 /*---------*\
  	 BOTAO    
 \*---------*/
.botao{
	display: inline-block;
	background-color: #bbb;
	color: #fff;
	padding: 0.8em 1.2em;
	text-decoration: none;
	line-height: normal;
}

.botao:hover, .botao:focus{
	background-color: #aaa;
	text-decoration: none;
	color: #fff;
}

.botao--assinar, .botao--login{
	background-color: #127d00;
}

.botao--assinar:hover, .botao--assinar:focus, 
.botao--login:hover, .botao--login:focus{
	background-color: #0e6400;
	text-decoration: none;
	color: #fff;
}

.botao--principal{
	background-color: #004b86;
	border-radius: 10px;
}

.botao--principal:hover, .botao--principal:focus{
	background-color: #003b6a;
}
 /*---------*\
  	 BOTAO    
 \*---------*/
 .chamada{
 	font-size: 1.6rem;
 	text-align: center;
 }

 .chamada__titulo{
 	margin: 0;
 	color: #fff;
 	font-size: 3.375em; /* 54/16=3.375 */
 	line-height: 0.9;
 	text-shadow: 1px 1px #313131;
 }

.chamada__subtitulo {
	margin: 60px 0;
	color: #fff;
}

@media(min-width: 992px){
	.chamada{
		padding-left: 10%;
		padding-right: 10%;
		font-size: 2.2rem;
	}
}
 /*----------*\
   DEPOIMENTO    
 \*----------*/
 .depoimento{
 	/*position: relative; por causa do .depoimento > blockquote::before{ position: absolute; }*/
 	font-size: 2.2rem;
 }

@media(min-width: 992px){
	.depoimento{
		padding-left: 15%;
		padding-right: 15%;
		font-size: 2.8rem;
	}
}

 .depoimento > blockquote{
 	position: relative;
 	margin: 0;
 	padding: 0 60px;
 	text-align: center;
 }

.depoimento > blockquote::before{
	position: absolute;
	color: #ccc;
	font-size: 8em; /* 176px */
	content: "\201C"; /*codigo unicode*/
	left: 0px;
	top: -0.35em; /*Esse calculo é relativo ao 8em logo acima do font-size*/
 }

 .depoimento__autor{
 	margin-top: 40px;
 	text-align: center;
 	font-size: 0.6969em;
 }

 .depoimento__autor > img{
 	border-radius: 50%;
 }

  .depoimento__autor > p{
 	margin-top: 10px;
 }

 /*----------*\
    NAVEGAÇÃO    
 \*----------*/
.navegacao{

}

.navegacao__menu{
	float: right;
}

 /*---------------*\
   BOTAO CHAVEADOR   
 \*---------------*/
 .botao-chaveador{
 	width: 40px;
 	height: 40px;
 	background: none;
 	border: 0;
 	outline: none; /*Tira a borda de realce que o navegador coloca quando a tag está selecionada*/
 	background-image: url("../images/menu.png");
 }

 @media(min-width: 992px){
 	.botao-chaveador{
 		display: none;
 	}
 }

 /*---------------*\
   MENU   
 \*---------------*/
 .menu{
 	list-style: none;
 	margin: 0;
 	font-size: 1.4rem;
 	position: fixed;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	width: 200px;
 	background-color: #fbfbfb;
 	border-right: 1px solid #eee;
 	padding: 20px;
 }

 .menu__item{
 	display: block;
 	line-height: 3;
 }

 .menu__item--botao{
 	margin-top: 20px;
 }